body{
    font-family: sans-serif;
    background-color: #f4f4f4;
}
h2{
    text-align: center;
}
form{
    width: 300px;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
/* label {
    display: block;
    margin-bottom: 5px;
} */
input[type="text"],input[type="password"],input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /* border: 1px solid #cc; */
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.error-message {
   color: red;
   text-align: center;
}